<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/css/style.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- google charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script> <!-- d3 -->
    </head>
    <body>
        <div id="myData"></div>
        <div id="Netflix" class="center-screen"></div> 
        <div id="Youtube" class="center-screen"></div> 
    </body>
    <script type="text/javascript" src="static/js/main.js"></script>
</html>